# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front/node_modules
/back/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/front/build

# misc
.DS_Store
/back/.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
jsconfig.json
/docs/internal
/back/requests
/back/coverage
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Temporarily ignore robot_framework folder
/robot_framework